@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;1,200&family=Mooli&family=Roboto&display=swap');
:root {
    --color-primario: #f3f3f3;
    --bg-primario: #eee;
    --text-size:1.5rem;

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
     background-color: antiquewhite;
    text-align: center;

 }  
 header{
    display:inline-flex;
    padding: 10px;
}
header img {
    padding: 15px;
    top: 10%;
    width:150px;
 }  
section {
    padding: 20px;
    margin: 20px;
 }  
 p {
    font-size: 30px;
    font-family: Montserrat;
 }  
h1, h2 {
        text-align: center;
        color: burlywood;
        background-color: beige;
        padding: 20px;
        margin: 20px;
        font-family: Mooli;  
        font-size: 30px;  
    }

/*se*/
.hero{
    padding: 40px;
    margin: 20px;
  
}
.hero article {
    position: absolute;
    padding: 50px;
    top: 100%;
    left: 50%;
    background-color:khaki;
    width: 50%;
}
.hero article img {
    position: absolute;
    top: 50px;
    width: 200px;
    left: 60%;
}
.hero article p {
    position: absolute;
    font-size: 15px;

}
.hero h1{
    position: absolute;
    background-color: #eee;
    width: 100px;
    top: 50%;
 }  
.sociallinks {
    margin-top: 2px;
    padding: 10px;
    border-top: 1px solid gray;
    text-align: right;
}

.sociallinks p{
    font-size: 15px;
} 
.hero img{
    position:relative;
    width: 1000px;
}

.hero article h1 {
    position:relative;
    background: none;
    color:coral;
    left: 20%;
    width: 10%;
    padding: 15px;
}

.hero h1{
    position:absolute;
    width: 90%;
    top: 70%;
}

.foto img{
    width: 200px;
    height: 200px;
    border: 5px solid white;
    margin: 15px;
    padding: 15px;

}
.grid-l {
    display: grid;
    grid-template-columns: 30% 30% 30% 30% 30%;
    justify-content: space-between;
    width: 70%;
    padding: 10px;
    font-family: Montserrat;
}

.encabezado{
    position: relative;
    display: flex;
    align-items: center;
    margin-top: 3rem;
    justify-content: center;
    font-weight: bolder;
    justify-content: space-evenly ;
    background-color: blanchedalmond ;
   
}
.encabezado a  {
    display:inline-block;
    text-decoration: none;
    position: relative;
    font-size: 20px;
    justify-content: space-between ;
    background-color:blanchedalmond;
    padding: 30px;
    margin: 10px;
    min-height: 80px;
    color:olivedrab;
    margin-bottom: 20%;
}
.encabezado a:hover{
    color:lightcyan;
    background-color:lemonchiffon;
}
/*------------------------- Contact Us-------------------------------------------------------------------------------*/
p{
    font-size: 20px;
    padding: 10px;

}

form{
    width: 50%;
    padding: 20px 30px;
    background-color:bisque;
    text-align: center;
    margin: auto;
    max-width: 50%;
    border-radius: 15px;

}
input {
    cursor: pointer;
}

.button{
    width: 20%;
    padding: 20px 30px;
    background-color:cadetblue;
    border: none;
    text-align: center;
    font-size: 15px;
    box-shadow: 0 5px 5px 1px gray;
    margin: 20px;
    max-width: 40%;
    border-radius: 15px;
}

label{
    color: black;
    font-size: 20px;
    font-family: "Montserrat";
}

.texto{
    width:100% ;
    background-color: lemonchiffon;
    font-size: 15px;
    border:none;
    padding: 5px;
    font-family: 'Roboto';
    border-bottom: 1px solid yellow;
}

.imagen{
    justify-content: space-between;
    line-height: 0;
    -webkit-column-count: 3;
    -moz-column-count: 3;  
    column-count: 3;
    font-family: "Montserrat";
    padding: 10px;
    text-align: center;
 
    
}
.photo img {
    display:inline-block;
    width: auto;
    height: 200px;
    margin-top: 20%;
    margin-bottom: 15px;
    text-align: center;

}
.photo figcaption{
    font-size: 1rem;
    color:black;
    font-style: italic;
}
.information{
    padding: 20px;
    margin: 10px;
    text-align: center;
}

/*----------------------------------------------------------------------trips----------------------------------------------------*/
.grid{
    padding:20px;
    margin: 50px;
    display: grid;
    grid-template-columns: 3fr 3fr;
    align-items:center;
    background-color: rgb(255, 255, 255, 0.5);
    border-radius: 15px;
    box-shadow: 0 5px 15px -5px gray
}
.article{
    margin: 1em;
    padding: -10px 5px;
  
}
 aside img {
    margin: 70px;
    max-width: 80%;
 }

 .article h2{
    color:midnightblue;
    font-family: "Montserrat";
    background-color: rgba(48, 132, 55, 0.3);
    box-shadow: 0 3px 10px -5px gray;
}
 

 .article p{
    font-size: 30px;
    line-height: 1.5;
 }

 .imagenes{ 
    line-height: 0;
    -webkit-column-count: 3;
    -moz-column-count: 3;  
    column-count: 3;
    font-family: "Montserrat";
    padding: 10px;
    border: 5px solid beige;
    text-align: center;
    border-radius: 30px;
}

.imag img {
    display:inline-block;
    width: 60%;
    height: auto;
    margin-top: 20%;
    margin-bottom: 15px;
    text-align: center;

}
.imag figcaption{
    font-size: 1rem;
    color:darkgreen;
    font-style: italic;
}

.p{
    position:relative;
    right: 100px;
    padding: 20px;
    margin: 50px;
    color:black;
    background-color:rgba(48, 132, 55, 0.3);
    box-shadow: 0 5px 15px -5px rgb(227, 220, 159);
}

.table {
    position:relative;
    width: 20%;
    border-collapse: collapse;
    font-size: 10px;
}
th , td {
    border:solid 2px rgb(241, 231, 231);
    padding: 20px
        }
th {
    background-color:rgba(11, 31, 160, 0.573);
    color:#eee;
    } 
tr{
    font-family: 'Montserrat';
}
    
tr:nth-child(even){
    background-color:#e6d8c9;
}

tr:hover {
    background-color:rgb(133, 181, 135);
    }
.listas li{
    list-style:circle;
    margin-left: 50px;
    line-height: 20px;
}  
.grid-2{
    padding:40px;
    margin: 30px;
    display: grid;
    grid-template-columns: 3fr 3fr;
    align-items:center;
    background-color: rgba(227, 210, 155, 0.5);

}

.link h1{  
    font-size: 60px;
    text-align: center;
}
.link a{
    font-size: 20px;
    color: cadetblue;
  }
/*---------------------------------------------- Home container ------------------------------------------------------------------------------*/
.header_index {
    position: relative;
    height: 8vh;
    margin: 4%;
}
.section_container{
    background-color: #f8be84;
    background-image:  linear-gradient(135deg, #e2a97a 25%, transparent 25%), linear-gradient(225deg, #e2a97a 25%, transparent 25%), linear-gradient(45deg, #e2a97a 25%, transparent 25%), linear-gradient(315deg, #e2a97a 25%, #f8be84 25%);
    background-position:  10px 0, 10px 0, 0 0, 0 0;
    background-size: 20px 20px;
    background-repeat: repeat;
    opacity: 0.9;
}
.header_index a {
    display: inline-block;
    font-size: 20px;
    padding: 50px;
    transition: all .5s ease-in-out;
}
.header_index img{
      position:absolute;
      top: -100%;
      left: -25%;
}
.width_image h1 {
    position: absolute;
    font-family: 'Montserrat';
    display:flex;
    top: 35%;
    left: 50%;
    width: 30%;
    height: auto;
    text-align: center;
    background-color: rgb(253, 250, 240);
    border-radius: 10px;
}
.width_image p{
    position: absolute;
    font-family: 'Montserrat';
    display:flex;
    background-color: rgba(82, 68, 21, 0.5);
    color: white;
    font-size: 25px;
    top: 90%;
    width: 30%;
}
.width_image img{
    border-radius: 5px;
    max-width: 100%;
}
.form_index{
    background-color: #e5c6a6;
    opacity: 0.8;
    background-image:  radial-gradient(#dfa474 0.5px, transparent 0.5px), radial-gradient(#dfa474 0.5px, #e5c6a6 0.5px);
    background-size: 20px 20px;
    background-position: 0 0,10px 10px;
}
.form_index h1{
    font-family: 'Poppins';
    font-size: 20px;
    background-color: rgba(63, 103, 78, 0.5);
    color: white;
    font-weight: normal;
}

.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
    margin: 20px;
}

.grid-item {
    background-color:rgba(63, 103, 78, 0.3);
    border: 2px solid rgb(201, 198, 198);
    margin: 20px;
    padding: 20px;
    text-align: center;
    box-shadow: 0 5px 15px -5px gray;

}

.grid-item img {
    max-width: 40%;
    height: auto;
}

.grid-item h2 {
    background-color:rgba(253, 250, 240, 0.7);
    border-radius: 10px;
    font-size: 20px;
    margin-top: 10px;
}

.grid-item p {
    line-height: 1.3rem;
    font-size: 15px;
    margin-top: 10px;
}
.form_index input{
    background-color:beige;
}
.button_index input{
    background-color:goldenrod;
    font-family: 'Roboto';
}
.p-button {
    text-align: center;
    display:inline-block;
    padding: 15px 30px;
    background-color:#e2a97a; 
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    border-radius: 5px;
    transition: background-color 0.5s;
}
        
.p-button:hover {
    background-color:gold;
}
.final a:link{
    color:greenyellow;
    }
.final a:visited{
    color:gray;
    }
.final a:hover{
    color:lightblue;
    }
.final a:active{
    color:yellow;
    }
.final p{
    font-size: 30px;
}
.final{
    text-align: center;
    display:inline-block;
    color:darkgoldenrod;
    font-weight: bold;
}
.table_index{
    background-color: #f2cba1;
    background-image:  radial-gradient(#b77036 0.5px, transparent 0.5px), radial-gradient(#b77036 0.5px, #f2cba1 0.5px);
    background-size: 20px 20px;
    background-position: 0 0,10px 10px;
}
.table_index table{
    margin: 30px;
    margin-left: 10%;
    padding: 20px 50px;
}
.h2-index h2{
    background-color:antiquewhite;
    color:rgba(11, 31, 160, 0.573);
}
.h2-index{
    padding: 50px;
    margin: 20px;
}
.h2-index img{
    padding: 20px;
    max-width: 70%;
    border-radius: 10px;box-shadow: 0 10px 25px -10px rgb(191, 183, 183);

}       
        
        
        
        
        
        


