@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;1,200&family=Mooli&display=swap');

body {
    padding: 20px;
    max-width: 960px;
    font-family:var(inclusive sans);
    background-color: whitesmoke;
        }

main {
    max-width: 800px;
        }
p {
    background-color: antiquewhite;
    font-family: Mooli;
    color: brown;
     
}
        

header {
    padding: 20px;
    margin: 20px;
        }
 h1 , h2, h3, h4 {
    font-family:var(inclusive sans);
    color :green;
    
        }

div {
    font-size: 30px;
    color: palevioletred;
    width: 30px;
    margin: 10px;
    font-family: Mooli;
        }

.colored {
    max-width: 800px;
    color: burlywood;
        }

nav {
    background-color: cadetblue;
    font-size: 1.2rem;
    display: flex;
}

nav a {
    display: block;
    color:blanchedalmond;
    text-decoration: dashed;
    padding: 1rem;
}
nav a:link{
    color: blue;
}

nav a:visited {
    color: yellow;
}
nav a:hover{
    color:pink;
}
nav a:active{
    color: gray  ;
}





footer {
    background-color: wheat;
    padding: 20px;
    color: black;
        }
