@import url('https://fonts.googleapis.com/css2? family= Borel & family= Inclusive+Sans & family= Mooli & display=swap');

body {
    padding: 20px;
    max-width: 960px;
    font-family: var(Mooli);
    background-color: whitesmoke;
        }

main {
    max-width: 800px;
        }
p {
    padding: 25px;
        }

header {
    padding: 20px;
    background-color: bisque;
        }
 h1 , h2, h3, h4 {
    font-family:var(inclusive sans);
    color :green;
        }

.colored {
    max-width: 800px;
    color: yellow;
        }

nav {
    background-color: brown;
    font-size: 1.2rem;
    display: flex;
}

nav a {
    display: block;
    color:blanchedalmond;
    text-decoration: dashed;
    padding: 1rem;
}
nav a:link{
    color: blue;
}

nav a:visited {
    color: yellow;
}
nav a:hover{
    color:pink;
}
nav a:active{
    color: gray  ;
}





footer {
    background-color: wheat;
    padding: 10px;
    color: black;
        }
