@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;1,200&family=Mooli&family=Roboto&display=swap');
/*{}*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

body {
    font-family: "Roboto";
    background-color: #e5e5f7;
    background-image:  linear-gradient(30deg, #e1a4e2 12%, transparent 12.5%, transparent 87%, #e1a4e2 87.5%, #e1a4e2), linear-gradient(150deg, #e1a4e2 12%, transparent 12.5%, transparent 87%, #e1a4e2 87.5%, #e1a4e2), linear-gradient(30deg, #e1a4e2 12%, transparent 12.5%, transparent 87%, #e1a4e2 87.5%, #e1a4e2), linear-gradient(150deg, #e1a4e2 12%, transparent 12.5%, transparent 87%, #e1a4e2 87.5%, #e1a4e2), linear-gradient(60deg, #e1a4e277 25%, transparent 25.5%, transparent 75%, #e1a4e277 75%, #e1a4e277), linear-gradient(60deg, #e1a4e277 25%, transparent 25.5%, transparent 75%, #e1a4e277 75%, #e1a4e277);
    background-size: 20px 35px;
    background-position: 0 0, 0 0, 10px 18px, 10px 18px, 0 0, 10px 18px;
    min-height: 200%;
}
.form {
    font-size: 15px;
    background-color: #e5e5f7;
    text-align: center;
    margin: auto;
    width: 100%;
    padding: 20px 30px;
    max-width: 70%;
    border-radius: 15px;
    box-shadow: 0 5px 15px -5px black;

}
img{
    padding-top: 10px;
    width: 50%;
}
footer{
    background-color: #e1a4e2;
    margin-top: 1em;
    border-top: 1px solid #000;
    text-align: center;
}

main{
    padding: 20px;
    margin: 50px;
}

h1{
    padding:10px;
    margin: 10px;
    color: blueviolet;
    background-color: white;
    text-align: center;
    font-size: 15px
}

.form_title {
    font-size: 30px;
    color: rgb(0 0 0);
    margin: .5em;

}

.container{
    margin-top: 20px;
    display: grid;
    gap:2.5em;

}

.grupo{
    position: relative;
    --color: #5757577e;
}

.grupo input{
    width:100% ;
    background:whitesmoke;
    color: gray;
    font-size: 15px;
    border: none;
    outline: none;
    padding: 10px;
     font-family: 'Roboto';
     border-bottom: 1px solid var(--color);
}

  label {
    cursor: pointer;
    color:rebeccapurple;
    top:0;
    left: 5px;
    transform: translateY(10px);
    transition: transform .5s, color .3s;*/

}

.radio{
    font-family: 'Roboto';
    font-size: 1rem;
}
#q4{
    padding: 20px;
    width: 100%;
}

.boton{
    width: 30%;
    cursor:pointer;
}

