* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-size:16px ;
    font-family: montserrat, mooli ;
}

nav {
    background-color: steelblue;
    padding: 5px;
}
nav a {
    color:yellow;
    display: block;
    padding: 5px;
}
h1 {
    color:steelblue
}
img{
    width: 150px;
    height: auto;
    border: 1px solid slateblue;
    padding: 2px;
    box-shadow: 0 0 30px  palegoldenrod;
}

main{
    max-width: 800px;
}
aside{
    position: relative;
    width: 400px;
    margin: 1rem;
    border: 1px solid greenyellow;
    background-color: #eee;
    color: green;
    text-align: center;
}

aside img{
    width:200px;
    height: auto;
}

aside h2 {
    position: absolute;
    top: 10px;
    left: 200px;
}
main img{
    width:150px;
    height: auto;
    border:1px  solid steelblue ;
    float:right;
    margin: 0 0 1rem 1rem;
}

p {
    margin :1rem
    left: 50px;
}

li {
    margin-bottom: 1rem;
    list-style-type: circle;
}

footer {
    margin-top: 1em;
    border-top: 1px solid #000;
    text-align: center;

}


/*Class selectors*/
.box  {
    margin: 1rem;
    border:1px solid peachpuff ;
    background-color: antiquewhite;
    width : 20em;
    text-align: center ;
}

.indent {
    margin-left: 1rem;
}